if (comment && comment.user)
  tr
    td.img
      img(src="/img/monkey.png", alt="")
    td.uname
      a(href="/users/"+comment.user.username) #{comment.user.uname}
    td.date 在#{moment(comment.created_at).format('LLL')}&nbsp;&nbsp;&nbsp;说
    td.content !{comment.body_html}
