body{
	padding:10px 45px 10px 45px;
	background-color: #FDFEFF;
}
.border{
	border:solid 1px black;

}
.border-navbar{
	border-color: #86ACCD;
	border-left-style: solid;
	border-width: 1px;
	border-radius: 5px;
	box-shadow: 4px 0px 1px 2px #93C3FD;
}
.border-nav{
	border-color: #216BAC;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	box-shadow: 2px 2px 6px 1px #004B8D;
}
.border-footer{
	border-color: #216BAC;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
}
.nav{
	padding-top: 10px;
}
#nav li{
	width:100px;
	text-align: center;

}

#nav a{
	color:#002A50;
}
#container{
}
#nav ul{
	margin:0px 5px 0px 5px;
}
.current-bottom{
	border-bottom-style: inset;
	border-color: #005CAB;
	border-bottom-width: 4px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}


.logout-in span ul li a{
	text-align: left;
}
.logout-in span ul li a span{
	color:#247893;
}
.follow-btn{
	background-color: #B3CEEF;
	border-radius: 5px;
	text-align: center;
}
.logout-in .btn a{
	color:white;
	text-decoration: none;
}


.row-fluid.info{
	height: 300px;
	background-color: #E0F0FE;
	border-radius: 8px;
}
.row-fluid.step{
	height: 300px;
	background-color: #EDEDED;
	border-radius: 8px;
}
.row-fluid.prize{
	height: 300px;
	background-color: #E0F0FE;
	border-radius: 8px;
}
.row-fluid.news{
	height: 300px;
	background-color: #E8FFD7;
	border-radius: 8px;
}
.row-fluid.sponsor{
	height: 300px;
	background-color: #E0F0FE;
	border-radius: 8px;
}
.row-fluid.contact{
	height: 300px;
	background-color: #EAE0F7;
	border-radius: 8px;
}
.footer{
	background-color: #E8FFD7;
}
.footer a{
	color:#135086;
}
