body{
    background-image: url(/img/background.jpg);
}
.project {
    border: 1px solid #000;
    border-bottom: none;
}
.project:last-child {
    border-bottom: 1px solid #000;
}
.avatar {
    width: 56px;
}
.avatar img {
    width: 48px;
    height: 48px;
}
.extra {
    margin-left: 48px;
}
.content {
    width: 900px;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 10px;
}
