extends ../layout/layout

block main
  h1 Article
block content
  each article in articles
    .article
      a.title(href='/article/'+article._id, title=article.title) #{article.title}
      p !{article.body_html}
      span=formatDate(article.created_at, "%b %d, %Y at %I:%M %p")

  if (pages > 1)
    .pagination
      ul
        != createPagination(pages, page)
