extends ../layout/layout

block content
  .content-wrap
    div.row-fluid.article-show
      .span9
        h3= article.title
        p !{article.body_html}
        br
        .comments
          p.comments-cap 共 #{article.comments.length} 条评论
          table.table
            each comment in article.comments
              include ../comment/comments
          if article.comments.length == 0
            .prompt
              p 尚无评论
        if locals.user
            include comment/add_comment
        else
            p.info 登录后即可发表评论!
      include ../layout/right-side

