extends ../layout/layout

block content
  div.row-fluid.article-show
    .span9
      h3 #{article.title}
      p !{article.body_html}
      br
      .comments
        p.comments-cap 共 #{article.comments.length} 条回复
        table.table
          each comment in article.comments
            include ../comment/comments
        if article.comments.length == 0
          .prompt
            p 尚无回复
      if locals.user
          include comment/add_comment
      else
          p Only if you login, can you make a comment!
    include ../layout/right-side

