extends ../layout/layout

block content
  .container
    div.row.details
      .span12
        h3= article.title
        .article-body !{article.body_html}
        .comments
          h4 共 #{article.comments.length} 条评论
          each comment in article.comments
            include ../comment/comments
          if article.comments.length == 0
            p 尚无评论
        if locals.user
            include comment/add_comment
        else
            p.info 登录后即可发表评论!
