extends ../layout/layout

block content
  div.container
    p title: #{article.title}
    p content: !{article.body_html}
    p
    br
    h2 Comments
    each comment in article.comments
      include ../comment/comments
    if locals.user
        include comment/add_comment
    else
        p Only if you login, can you make a comment!

