extends ../layout/layout

block main
  h1 Users
block content
  each user in users
    img(src='#{user.avatar_url}',height=20,width=20)
    a(href="/user/#{user.username}") #{user.uname}
    br
  if (pages > 1)
    .pagination
      ul
        != createPagination(pages, page)
