extends ../layout/layout
block content
  .bg-gblue
    .container
      .row.user-index
        .span12
          .row
            each user in users
              .span2.user-unit
                a(href="/users/#{user.username}")
                  img(src="#{user.avatar_url}", alt="用户图片")
                a(href="/users/#{user.username}")
                  h5 #{user.name || user.username}

          .row
            .offset4
              if (pages > 1)
                .pagination
                  ul
                    != createPagination(pages, page)
