extends ../layout/layout

block main
  h1 Users
block content
  div.users
    div.row-fluid.users-list
      each user in users
          div.user-unit
            a(href="/users/#{user.username}")
              img(src="#{user.avatar_url}", alt="用户图片")
            a(href="/users/#{user.username}")
              p= user.name || user.username

    div.row-fluid
      div.offset4
        if (pages > 1)
          .pagination
            ul
              != createPagination(pages, page)
