extends ../layout/layout

block content
  div.container
    form(method="post", action="/signup")
      div
        label 用户名:
        input(type="text", name="username")
      div
        label e-mail:
        input(type="text", name="email")
      div
        label 口令:
        input(type="password", name="password")
      div
        label 确认口令: 
        input(type="password", name="password_confirmation")
      div
        input(type="submit", value="Submit")
