extends ../layout/layout

block content
  div.registration
    div.registration-cap
      p 注册新用户
    p.or or
    div.registration-content
      div.row-fluid
        div.span8
            form.form-horizontal(action="/signup", method="post")
              input(type="hidden", name='_csrf', value=token)
              .control-group
                label.control-label(for='Email') 邮箱
                .controls
                  input#email(type='text', name="email", placeholder='username@example.com', value=user.email)
                  span#email-error
              .control-group
                label.control-label(for='username') 用户名
                .controls
                  input#username(type='text', name="username", placeholder='长度最少为6', value=user.username)
                  span#username-error
              .control-group
                label.control-label(for='password') 密码
                .controls
                  input#password(type='password', name="password", placeholder='长度最少为6')
                  span#password-error
              .control-group
                label.control-label(for='password') 密码确认
                .controls
                  input#password#password_confirmation(type='password', name="password_confirmation", placeholder='请再输入一次密码')
                  span#password_confirmation-error
                .offset3
                  button.btn.btn-primary(type='submit') 注册
        div.span4.third-singup
          div.row-fluid
            div.info
              p 您也可以通过如下方式注册:
            div.third-singup-btn
              a(href="/auth/github").btn
                img(src="/img/github.png", alt="")
                span &nbsp;&nbsp;&nbsp;Github
              a(href="#").btn
                img(src="/img/google.png")
                span &nbsp;&nbsp;&nbsp;Google
              a(href="#").btn
                img(src="/img/twitter.png", alt="")
                span &nbsp;&nbsp;&nbsp;Twitter
