extends ../layout/layout

block content
  .container.session-body
    div.min-inner
      h3 注册
      form.session-form(action="/signup", method="post")
        div.session-aside
          | 如果您有下列网站帐号，可使用这些帐号
          a(href="/login") 直接登录
          |，无需注册
          .oauth-list
            a(href="/auth/github")
              img(src="/img/auth-github-big.png")
              | GitHub
            a(href="/auth/google")
              img(src="/img/auth-google-big.png")
              | Google
        input(type="hidden", name='_csrf', value=token)
        fieldset
          input.input-xlarge(type='text', name="email", placeholder='Email', value=user.email)
          input.input-xlarge(type='text', name="username", placeholder='用户名', value=user.username)
          input.input-xlarge(type='password', name="password", placeholder='密码')
          input.input-xlarge(type='password', name="password_confirmation", placeholder='密码确认')
          button.btn.btn-primary(type='submit') 注册

