extends ../layout/layout

block content
  div.container

    p 用户名：#{profile.uname}
    P 昵称: #{profile.name}
    p Email：#{profile.email}

  .row
    .span7
      form.form-horizontal(method="post", action="/users/"+profile.username+'/reset/update', enctype="multipart/form-data")
        input(type="hidden", name='_method', value='PUT')
        input(type="hidden", name='_csrf', value=token)
        .control-group
          label.control-label(for='text') 新口令
          .controls
            input#password.input-xlarge(type='text', name="password",placeholder='输入新口令')

        .control-group
          label.control-label(for='text') 确认口令
          .controls
            input#confirmation_password(type='text', name="password_confirmation", placeholder='输入相同口令')

        .form-actions
          button.btn.btn-primary(type='submit') 确定
          &nbsp;
          a.btn(href='/users/'+profile.username, title="cancel") 取消
