extends ../layout/layout

block content
  div.container
    
    p 用户名：#{profile.username}
    p Email：#{profile.email}
    if locals.user && locals.user.isAdmin
        form(method="post", action="/create_article")
          div
            label title:
            input(type="text", name="title")
          div
            label content:
            input(type="text", name="body")
          div
            input(type="submit", value="Submit")
