extends ../layout/layout

block content
  div.container

    p 用户名：#{profile.username}
    p Email：#{profile.email}
    h2 joined_projects
    each joined_project in profile.joined_projects
      p #{joined_project.project.name}
      p #{joined_project.project.provider.name}

    if locals.user && locals.user.is_admin
        form(method="post", action="/create_article")
          div
            label title:
            input(type="text", name="title")
          div
            label content:
            input(type="text", name="body")
          div
            input(type="submit", value="Submit")
