block footer
  footer.footer
    div.container
      ul.pull-right
        li © GeekStack. All rights reserved.
      ul
        li
          | Designed and developed by&nbsp;&nbsp;
          a(href="http://weibo.com/u/3245655660") Michael Ding
          | &nbsp;&nbsp;,&nbsp;&nbsp;
          a(href="http://geekon.geekstack.org/users/wdholmes") Hemslo Wang
          | &nbsp;&nbsp;,&nbsp;&nbsp;
          a(href="http://weibo.com/u/3260368113") Xin Wang
          | &nbsp;&nbsp;and&nbsp;&nbsp;
          a(href="http://weibo.com/u/1820033222") Galeno Leng
          | &nbsp;&nbsp;From&nbsp;&nbsp;
          a(href="https://geakit.com") GeaKit Team
