block footer
    br
    div.footer
        div.row-fluid
          div.span2.offset3
            a(href="/details") 关于起源
          div.span2
            a(href="/details") 组委会
          div.span2
            a(href="/details") 关于极客栈
