block footer
    div.footer
        div.row-fluid.footer-body
          div.span2.offset3
            a(href="/details#background") 活动背景
          div.span2
            a(href="/details#committee") 组委会
          div.span2
            a(href="/details#about") 关于我们
