block footer
  footer.footer
    div.container
      ul.pull-right
        li © GeekStack. All rights reserved.
      ul
        li
          | 本站源代码托管在@
          a(href="https://github.com/free-storm/GeekOn") GitHub
