block header
  div.navbar.navbar-inverse
    div.navbar-inner
      div.container
        a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="/") GeekOn

        div.nav-collapse.collapse
          ul.nav
            li
              a(href="/articles") 活动
            li
              a(href="/projects") 项目
            li
              a(href="/geeks") 极客
          ul.nav.pull-right
            if locals.user && locals.user.username
              li
                img(src='#{locals.user.avatar_url}',height=30,width=30)
              li.dropdown
                a.dropdown-toggle(data-toggle="dropdown",href="/user/#{locals.user.username}") #{locals.user.name}
                  span.caret
                ul.dropdown-menu
                  li
                    a(href="/users/#{locals.user.username}") Account
                  li
                    a(href="/logout") 登出
            else
              li
                a(href="/signup") 注册
              li.dropdown
                a.dropdown-toggle(data-toggle="dropdown",href="#") Login
                  span.caret
                ul.dropdown-menu
                  li
                    a(href="/login") Local
                  li
                    a(href="/auth/github") Github
