block header
  div.nav.border-nav
    div.row-fluid
      div.span2
        a(href="/")
          img(src="/img/monkey.png", alt="猴子")
      div.span6#nav
        ul.nav.nav-pills
          li
            a(href="/") 首页
          li
            a(href="#") 最新动态
          li
            a(href="/articles") 活动详情
          li
            a(href="/projects") 创意项目
          li
            a(href="/geeks") Geek
          li
            a(href="#") 赞助合作
      br
      div.span3.logout-in.offset1
        if locals.user && locals.user.username
          span
            img(src='#{locals.user.avatar_url}',height=30,width=30)
          &nbsp;&nbsp;&nbsp;&nbsp
          span.dropdown.nav-btn
            a.dropdown-toggle(data-toggle="dropdown",href="/user/#{locals.user._id}") #{locals.user.name}&nbsp;&nbsp
              span.caret.nav-btn
            ul.dropdown-menu
              li
                a(href="/user/#{locals.user._id}")
                  i.icon-user
                  span 个人主页
              li
                a(href="/logout")
                  i.icon-chevron-left
                  span 登出
        else
          span.nav-btn
            a(href="/signup") 注册
          &nbsp;&nbsp;&nbsp;&nbsp
          span.dropdown.nav-btn
            a.dropdown-toggle(data-toggle="dropdown",href="#") 登录
              span.caret
            ul.dropdown-menu
              li
                a(href="/login")
                  i.icon-chevron-right
                  span Local
              li
                a(href="/auth/github")
                  i.icon-chevron-right
                  span Github
        &nbsp;&nbsp;&nbsp;&nbsp
        span.nav-btn
          a(href="#") 微博关注
