block right-side
  div.span3.right-side
    div.row-fluid.news
      h4 最新动态
      each article in articles
        a(href="/articles/#{article._id}", target="_blank")= article.title
        br
    br
    div.row-fluid.sponsor
      h4 赞助信息
    br
    div.row-fluid.contact
      h4 联系我们
      p
        官方邮箱：
        a(href="mailto:geekon@geekstack.org") geekon@geekstack.org
