extends ../layout/layout

block content
  div.new-project.edit-project
    .new-project-cap
      p 编辑项目
    form.form-horizontal(method="post", action="/project/"+project._id, enctype="multipart/form-data")
      input(type="hidden", name='_method', value='PUT')
      input(type="hidden", name='_csrf', value=token)
      div.row-fluid
        div.span2
          span 名称
        div.span10
          input(type="text", name="name",value= project.name)
      div.row-fluid
        .span2
          span 概要
        .span10
          textarea(name="preview")#project_preview= project.preview
      div.row-fluid
        .span2
          label 要求
        .span10
          textarea(name="requirement")#project_body= project.requirement
      div.row-fluid.submit
        .span2.offset2.submit-btn
          input(type="submit", value="提交").btn.btn-primary
