extends ../layout/layout

block content
  .container.session-body
    div.min-inner
      h3 编辑项目
      form(method="post", action="/projects/"+project._id, enctype="multipart/form-data")
        input(type="hidden", name='_method', value='PUT')
        input(type="hidden", name='_csrf', value=token)
        div.row
          div.span2
            span 名称
          div.span10
            input.input-xlarge(type="text", name="name", value=project.name)#project_name
        div.row
          .span2
            span 概要
          .span10
            input.input-xlarge(type="text", name="summary", value=project.summary)#project_summary
        div.row
          .span2
            label 描述
          .span10
            textarea.input-xlarge(name="description")#project_description= project.description
        div.row.submit
          .span2
            input(type="submit", value="提交").btn.btn-primary
