extends ../layout/layout

block content
  div.new-project
    .new-project-cap
      p 新建一个项目
    form(method="post", action="/create_project")
      input(type="hidden", name='_csrf', value=token)
      div.row-fluid
        div.span2
          span 名称
        div.span10
          input(type="text", name="name").project_name
      div.row-fluid
        .span2
          span 概要
        .span10
          textarea(name="preview")#project_preview
      div.row-fluid
        .span2
          label 要求
        .span10
          textarea(name="requirement")#project_body
      div.row-fluid
        .span2.offset2.submit-btn
          input(type="submit", value="创建").btn.btn-primary
