extends ../layout/layout

block content
  div.new-project
    form(method="post", action="/create_project")
      input(type="hidden", name='_csrf', value=token)
      div.row-fluid
        div.span2
          label 项目名称
        div.span6
          input(type="text", name="name")
      div.row-fluid
        .span2
          label 项目概要
        .span6
          input(type="text", name="preview")
      div.row-fluid
        .span2
          label 项目要求
        .span6
          textarea(name="requirement")
      div.row-fluid
        .span2.offset1
          input(type="submit", value="submit").btn.btn-primary
