if(follower && follower.user)
  a(href="/users/#{follower.user.username}", data-toggle="tooltip",
    title="#{follower.user.name || follower.user.username}")
    img(src="#{follower.user.avatar_url}").avatar-small
