if(follower && follower.user)
  tr
    td.username
      a(href="/users/"+follower.user.username) #{follower.user.name || follower.user.username}
    td
      p 于 #{moment(follower.created_at).format('LLL')}
