extends ../layout/layout

block content
  .container
    div.row.details
      .span12
        h3 关于我们
        p
          | 极客行动由极客栈发起，极客栈是南京本土的一个非营利性社会组织，于2013年3月成立。他们都是技术爱好者，
          | 其中既有来自于高校的老师和学生、科技型企业的工程师、还有处在奋斗阶段的创业者。
        p
          | 极客栈致力于推动技术创新，推动极客文化，集合极客们的超凡智慧和能力去解决人们所遇到的现实问题，
          | 从而实现让世界更加美丽的美好愿景。

        h3 组委会
        table.table.table-hover.table-striped
          thead
            tr
              td 姓名
              td 介绍
          tbody
            tr
              td 吴涛军
              td 会长。趣点科技创始人。曾任职于中国建设银行总行、EMC公司美国总部。在美期间曾在麻省理工学院首席信息官峰会（MITCIO）、波士顿华人科技企业协会（128CUTE）等多个组织和会议中担任要职
            tr
              td 刘丽
              td 副会长。南京自由风暴网络科技有限公司联合创始人，南京极客社区和线下活动组织者
            tr
              td 张翼
              td 秘书长。瑞创传媒创始人，启创中国理事，曾期任职于科技媒体，热心技术与公益
            tr
              td 丁彦
              td 负责官方网站的设计与开发，嘉宾的邀请，合作方关系的建立与维护
            tr
              td 王迪
              td 负责官方网站的开发，搭建与维护
            tr
              td 白煜诚
              td 负责官方网站的功能设计，赞助方关系的建立与维护
            tr
              td 曹晓鹏
              td 负责技术圈及高校的推广
            tr
              td 谈龙
              td 负责会务工作的整体协调
            tr
              td 韩立峰
              td 负责会务工作的整体协调
        h3 感谢为极客行动提供宝贵帮助的以下朋友们（排名不分先后）
        table.table.table-hover.table-striped
          thead
            tr
              td 姓名
              td 介绍
          tbody
            tr
              td 曹力
              td 暴走漫画CTO，糗事百科联合创始人，博聆网创始人
            tr
              td 刘维超
              td 诺依曼智能科技有限公司创始人，专注而疯狂的极客
            tr
              td 陶祥
              td 资深交互设计专家
            tr
              td 杨安康
              td 70后，工学博士，一直在东南大学从事教育信息化与智能检测设备研究与工作，目前在教师教学发展中心工作。自2010年起积极参与学生创新创业与iOS培训活动
            tr
              td 叶逸飞
              td 百阅手机阅读软件创始人
            tr
              td 张开新
              td 江苏金智教育科技信息有限公司商业合作开发经理
            tr
              td 张巧忠
              td 南京综合型创业帮扶平台-青创沙龙核心组织者，南京欢诚网络科技有限责任公司联合创始人，南京本土创业者聚集、分享及宣传平台-抛砖网联合创始人
