extends ../layout/layout

block content
  .container
    div.row.details
      .span12
        h3 关于我们
        p
          | 极客行动由极客栈发起，极客栈是南京本土的一个非营利性社会组织，于2013年3月成立。他们都是技术爱好者，
          | 其中既有来自于高校的老师和学生、科技型企业的工程师、还有处在奋斗阶段的创业者。
        p
          | 极客栈致力于推动技术创新，推动极客文化，集合极客们的超凡智慧和能力去解决人们所遇到的现实问题，
          | 从而实现让世界更加美丽的美好愿景。

        h3 组委会
        table.table.table-hover.table-striped
          tbody
            tr
              td 会长
              td 吴涛军。趣点科技创始人；曾任职于中国建设银行总行、EMC美国总部。曾在麻省理工学院首席信息官峰会（MITCIO）等多个组织和会议中担任要职
            tr
              td 副会长
              td 刘丽。南京自由风暴网络科技有限公司联合创始人，南京极客社区和线下活动组织者
            tr
              td 副会长
              td 唐立奇。麻省理工斯隆商学院MBA；曾任职高朋网、Oak Investment Partners和电讯盈科，有近8年IT管理和创业经验
            tr
              td 秘书长
              td 张翼。启创中国理事，曾长期任职于科技媒体，热心技术与公益事业
            tr
              td 网站
              td 丁彦、王迪、白煜诚
            tr
              td 赞助
              td 白煜诚、丁彦、唐立奇
            tr
              td 市场
              td 曹晓鹏
            tr
              td 会务
              td 谈龙、韩立峰
        h3 感谢为极客行动提供宝贵帮助的以下朋友们（排名不分先后）
        p 曹力、刘维超、杨安康、叶逸飞、张开新、张巧忠。
        br
