form.form-vertical(method="post", action="/project/#{project._id}/create_comment")
  input(type="hidden", name='_csrf', value=token)
  .control-group
    .controls
      textarea#comment.input-xxlarge(type='text', rows="6", name="comment", placeholder='Add your comment')
  button.btn.btn-primary(type='submit') Add comment
