extends layout/layout

block content
  div#container.border-container
    div.row-fluid
      div.span9
        div.row-fluid.info
          h4 大赛介绍
        br
        div.row-fluid.step
          h4 活动流程
        br
        div.row-fluid.prize
          h4 奖品情况
      include layout/right-side
