extends layout/layout

block content
  div.home
    .home-top
      div.row-fluid.home-cap
        h3 加入极客栈&nbsp;&nbsp;发现项目
          span&nbsp;OR
          br
          span.create
            a(href='/projects/create') 创建项目
      div.row-fluid.three-btn
        .span4
          img(src="/img/prize.png")
          h3 发现项目
        .span4
          img(src="/img/prize.png")
          h3 组队报名
        .span4
          img(src="/img/prize.png")
          h3 比赛&颁奖
    div.row-fluid.discover
      h3 &nbsp;最新动态
      .discover-row
        a(href="#")
          .row-fluid
              .span8
                span.title 我校世界一流大学建设被列入苏南现代化建设示范区规划
                p.summary  5月10日、13日，学校分别举行校级理论学习中心组学习和基层党委书记例会，传达学习苏南现代化建设示范区工作会议精神。会议由党委书记郭广银主持。
              .span1
                p
                  i.icon-map-marker
                  span 南京
              .span1
                i.icon-user
                span wilxn
              .span2
                p 2013-5-17
    div.row-fluid.discover
        h3 &nbsp;热门项目
        .discover-row
          a(href="#")
            .row-fluid
              .span8
                span.title 我校世界一流大学建设被列入苏南现代化建设示范区规划
                p.summary  5月10日、13日，学校分别举行校级理论学习中心组学习和基层党委书记例会，传达学习苏南现代化建设示范区工作会议精神。会议由党委书记郭广银主持。
              .span1
                p
                  i.icon-map-marker
                  span 南京
              .span1
                i.icon-user
                span wilxn
              .span2
                p 2013-5-17
