extends layout/layout

block content
    div#container.border-container
      div.row-fluid
        div.span7
          div.row-fluid.info
            h4 大赛介绍
          br
          div.row-fluid.step
            h4 活动流程
          br
          div.row-fluid.prize
            h4 奖品情况
        div.span4.offset1
          div.row-fluid.news
            h4 最新动态
          br
          div.row-fluid.sponsor
            h4 赞助信息
          br
          div.row-fluid.contact
            h4 联系我们
