extends layout/layout

block content
    div.container
        div.main
            div.row-fluid
                div.block.block-left.span4.offset1
                    p left 
                div.block.block-right.span4
                    p right 