extends layout/layout

block content
  div#container.border-container
    div.row-fluid
      div.span9
        div.row-fluid.info
          h4 大赛介绍
          p 极客，是美国俚语“Geek”的音译。随着互联网文化的兴起，这个词含有智力超群和努力的语意，又被用于形容对计算机和网络技术有狂热兴趣并投入大量时间钻研的人。
          p 极客行动（Geek On）是为期两天（36小时不间断）的围绕移动互联网和创意生活主题的技术开发大赛。活动旨在提升极客的协作能力，促进极客的思想碰撞，鼓励颠覆性创新。
          p 极客行动为极客们提供协作开发的的机会，令极客团队在极限的时间内迸发最极致的技术与想法，从而创造令人惊叹的项目成果。连续两天的活动将为每一位参赛者带来极限时间完成项目成就感，解决问题与技术难题的满足感和与高水准的队友并肩作战的参与感。
          p 极客行动是南京本土社会组举办的活动，它从行业发展的基石：“人”出发，自下而上，以活动为纽带，密切极客之间、极客与其他行业间的互动，推动技术创业创新。
        br
        div.row-fluid.step
          h4 活动流程
          table.table.table-hover
            tr
              th 日期
              th 时间
              th 环节
            tr
              td Day1
              td 8:30-9:00
              td 签到
            tr
              td Day1
              td 9:00-9:30
              td 开场演讲&活动介绍
            tr
              td Day1
              td 9:30-12:00
              td 开发
            tr
              td Day1
              td 12:01-13:30
              td 午餐&团队自由交流
            tr
              td Day1
              td 13:31-18:00
              td 开发
            tr
              td Day1
              td 18:01-19:00
              td 晚餐&团队自由交流
            tr
              td Day1
              td 19:01--
              td 开发
            tr
              td Day2
              td       --12:00
              td 开发
            tr
              td Day2
              td 12:01-13:30
              td 午餐&团队自由交流
            tr
              td Day2
              td 13:01-17:30
              td 开发
            tr
              td Day2
              td 17:31-18:00
              td Demo收集&晚餐
            tr
              td Day2
              td 18:01-20:30
              td Demo展示&点评
            tr
              td Day2
              td 20:31-21:00
              td 评审&颁奖
        br
        div.row-fluid.prize
          h4 奖品情况
          table.table
            tr
              td 一等奖（1支团队）
              td.money ￥4096
            tr
              td 二等奖（2支团队）
              td.money ￥2048
            tr
              td 三等奖（3支团队）
              td.money ￥1024
      include layout/right-side
