extends general

block content
  div.container
    if message
      p #{message}

    form(method="post", action="/login")
      div
        label 用户名:
        input(type="text", name="username")
      div
        label 口令:
        input(type="password", name="password")
      div
        input(type="submit", value="Submit")
