extends ../layout/layout

block content
  .container
    div.row.details
      .span12
        h3 比赛介绍
        p
          | 极客，是美国俚语“Geek”的音译。随着互联网文化的兴起，这个词含有智力超群和努力的语意，
          | 又被用于形容对计算机和网络技术有狂热兴趣并投入大量时间钻研的人。
        p
          | 极客行动（Geek On）是为期两天（36小时不间断）的围绕移动互联网和创意生活主题的技术开发大赛。
          | 活动旨在提升极客的协作能力，促进极客的思想碰撞，鼓励颠覆性创新。
        p
          | 极客行动为极客们提供协作开发的的机会，令极客团队在极限的时间内迸发最极致的技术与想法，
          | 从而创造令人惊叹的项目成果。连续两天的活动将为每一位参赛者带来极限时间完成项目成就感，
          | 解决问题与技术难题的满足感和与高水准的队友并肩作战的参与感。
        p 大赛共分4个阶段：
        table.table.table-hover.table-bold
          thead
            tr
              th 阶段
              th 简介
          tbody
            tr
              td 组队阶段
              td 大赛前一天晚上会由大赛主办方提供场地给还没有完全确定组队的参赛选手进行最后的组队确认
            tr
              td 开发阶段
              td 36小时开发时间，大赛主办方为参赛选手提供餐饮及后勤服务
            tr
              td 作品展示
              td 每件作品有5分钟时间，可以通过幻灯片，讲述，演示等手段进行作品展示
            tr
              td 颁奖典礼
              td 大赛评委将在参加作品展示的作品中选出6件优秀作品，并提供神秘大奖

        h3 活动背景
        p
          | 无论是美国的硅谷，还是印度的班加罗尔，无论是英国的剑桥，还是台湾的新竹，纵观世界著名科技园区的发展路径，
          | 无一不与其自身特色的创新文化息息相关。
        p
          | 随着区域经济竞争与合作向高级阶段的发展，区域的硬件条件，包括基础设施、政策配套等，
          | 都逐渐被竞争区域所模仿，而一个区域的独特品牌和创新文化却难以被模仿。可以说，一个区域的核心竞争力的根本在于文化。
          | 文化就是“星星之火，可以燎原”。区域文化最终将转化成本区域所特有的经济竞争力和持续发展力。
        p
          | 南京作为中国软件名城，汇聚了许多优秀的软件企业，每年举办中国（南京）国际软件产品和信息服务博览会，
          | 在“大”层面上的表现已然优秀。不过在“小”方面，对程序员个体与小技术团队而言，总觉得缺少了些什么。
        p
          | 是时候让崇尚科技、自由和创造力的极客精神在南京落地生根了！

        h3 活动流程
        table.table.table-hover.table-striped
          thead
            tr
              th 日期
              th 时间
              th 环节
          tbody
            tr
              td Day1
              td 8:30-9:00
              td 签到
            tr
              td Day1
              td 9:00-9:30
              td 开场演讲&活动介绍
            tr
              td Day1
              td 9:30-12:00
              td 开发
            tr
              td Day1
              td 12:00-13:30
              td 午餐&团队自由交流
            tr
              td Day1
              td 13:30-18:00
              td 开发
            tr
              td Day1
              td 18:00-19:00
              td 晚餐&团队自由交流
            tr
              td Day1
              td 19:00--
              td 开发
            tr
              td Day2
              td       --12:00
              td 开发
            tr
              td Day2
              td 12:00-13:30
              td 午餐&团队自由交流
            tr
              td Day2
              td 13:00-16:00
              td 开发
            tr
              td Day2
              td 16:00-18:30
              td Demo展示&点评
            tr
              td Day2
              td 18:30-19:00
              td 颁奖
            tr
              td Day2
              td 19:00-20:00
              td 合影&晚餐

        h3#prize 奖品情况
        table.table.table-hover.table-striped
          tbody
            tr
              td 一等奖
              td ¥4096
            tr
              td 二等奖
              td ¥2048
            tr
              td 三等奖
              td ¥1024
