if(participant && participant.user)
  a(href="/users/#{participant.user.username}", data-toggle="tooltip",
    title="#{participant.user.name || participant.user.username}")
    img(src="#{participant.user.avatar_url}").avatar-small
