if(participant && participant.user)
  tr
    td.username
      a(href="/users/"+participant.user.username) #{participant.user.name || participant.user.username}
    td
      p äº #{moment(participant.created_at).fromNow()}
